.portfolio-item {
  display: flex;
  gap: 60px;

  img {
    border-radius: 15px;
    width: 600px;
    height: 350px;
  }

  .portfolio-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;

    h2 {
      margin-top: 0;
    }

    button {
      width: 140px;
      height: 45px;
    }
  }
}

@media (max-width: $mobile-width) {

}

@media (max-width: $list-onecolumn-width) {

}
