.portfolio-thumb-link:hover {
  text-decoration: none;
}

.portfolio-thumb-link {
  width: auto;
  
  .portfolio-thumb-wrapper {
    width: 345px;
  }
}

@media (max-width: $mobile-width) {
  .portfolio-thumb-link {
    width: 45%;

    .portfolio-thumb-wrapper {
      width: 100%;
      
      img {
        width: 100%;
        height: auto;
      }
      
    }
  }
}

@media (max-width: $list-onecolumn-width) {
  .portfolio-thumb-link {
    width: 100%;

    .portfolio-thumb-wrapper {
      width: 100%;
      
      img {
        width: 100%;
        height: auto;
      }
      
    }
  }
}
