@import "variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Raleway", sans-serif;
  background-color: $bg-color;
  color: #393939;
  height: auto;

  a {
    color: $link-colour;
    font-weight: bolder;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h1 {
    margin: 0 0 5px;
  }
  
  main {
    h1 {
      font-size: 50px;
    }
  
    .MuiButtonGroup-contained {
      .MuiButton-outlined {
        border-color: $btn-color !important;
        color: $btn-color;
      }
  
      .MuiButton-contained {
        border-color: #000 !important;
      }
    }
    
    .MuiButton-contained {
      background-color: $btn-color;
    }
  
    .MuiButton-contained:hover {
      background-color: $btn-hover-color;
    }
  }
}

* {
  box-sizing: border-box;
}

#__next {
  height: inherit;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #d6d6d6;
    background: #22242A;
  }
} */
