#portfolio-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .portfolio-view-column {
    h2 {
      font-size: 18px;
      text-decoration: underline;
    }
  
    img {
      width: 600px;
      height: 400px;
    }
  
    #portfolio-technologies {
      margin-bottom: 20px;
  
      #portfolio-technologies-list {
        display: flex;
        column-gap: 10px;
      }
    }
  
    #portfolio-repositories {
      .portfolio-repositories-link {
        margin-bottom: 5px;
      }
    }
  }

  .portfolio-view-column:first-child {
    padding-right: 40px;
    width: 100%;
  }
}

@media (max-width: 1090px) {
  #portfolio-view {
    #portfolio-view-imgwrapper {
      img {
        width: 500px;
        height: auto;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  #portfolio-view {
    flex-direction: column-reverse;

    #portfolio-view-imgwrapper {
      margin-bottom: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
