#menu-mobile {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  margin: 0 10px 20px;

  #menu-mobile-btn:hover {
    cursor: pointer;
  }

	h1 {
    font-size: 28px;
    line-height: 42px;
    padding-left: 10px;
	}
}

#menu-mobile-menu {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  font-size: 20px;
}
