@import "../../../styles/variables.scss";

.header-link {
  display: flex;
  align-items: center;
  padding: 5px 10px;

	a {
		color: #3E5060;
	}
}

.header-link-selected {
  border-radius: 5px;
  font-weight: bolder;
  background-color: $link-colour;
  color: #FFF;
}
