#layout {
	display: flex;
  flex-direction: column;
	background-color: #FFF;
	max-width: 1400px;
  height: 100%;
	margin: 0 auto;
  padding: 0 20px;

  #layout-content {
    main {
      width: 100%;
      min-height: 1000px;
    }
  }

  footer {
    text-align: center;
    margin-top: 40px;
    height: 100%;
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 20px;

    #footer-divider {
      border-top: 5px solid #DCDCDC;
      padding-bottom: 20px;
      margin: 0 20px;
    }
  }
}

