#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  nav {
    display: flex;
    gap: 20px;
  }

  button {
    display: none;
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  #header {
    nav {
      display: none;
    }
  
    button {
      display: block;
    }
  }
}