#about {
  h1, h2 {
    text-align: center;
  }

  h2 {
    margin-top: 40px;
  }

  #about-text {
    display: flex;
    justify-content: center;
  }

  #about-techstack-list {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    #about-techstack-msg {
      margin-bottom: 40px;
    }
  }
}
