@import "../../../styles/variables.scss";

.portfolio-item-wrapper {
  width: 100%;

  .portfolio-item {
    display: flex;
    gap: 60px;
  
    img {
      border-radius: 4px;
      width: 600px;
      min-width: 600px;
      height: 350px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    }
  
    .portfolio-item-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 50%;
  
      .portfolio-item-title {
        display: flex;
        flex-direction: row;
      
        h2 {
          margin-top: 0;
        }
    
        .portfolio-item-type {
          margin-left: 12px;
          max-width: 80px;
        }
      }
  
      button {
        width: 140px;
        height: 45px;
      }
    }
  }
}

@media (max-width: 1050px) {
  .portfolio-item-wrapper {
    .portfolio-item {
      img {
        width: 400px;
        min-width: 400px;
        height: 300px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .portfolio-item-wrapper {
    .portfolio-item {
      display: none;
    }
  }
}
