#menu {
  /*
  background-color: #282A35;
  color: #FFF; */
  
  
	h1 {
		margin-bottom: 40px;
    font-size: 28px;
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 25px;
		font-size: 20px;
    color: #3E5060;
	}
}
