#portfolio-dialog {
  button {
    color: $link-colour;
  }
}

#portfolio-dialog-header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  background-color: $header-color;

  button {
    color: #FFF;
  }
}

#portfolio-dialog-content {
  display: flex;
  flex-direction: column;

  #portfolio-dialog-technologies {
    margin-bottom: 20px;

    #portfolio-dialog-technologieslist {
      display: flex;
      column-gap: 10px;
    }
  }

  #portfolio-dialog-repositories {
    .portfolio-dialog-repositorieslink {
      margin-bottom: 10px;
    }
    margin-bottom: 40px;
  }

  .MuiLink-root {
    text-decoration: none;
  }

  button {
    background-color: $btn-color;
    color: #FFF;
    width: 140px;
  }
}
